.float-container {
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.float-child4 {
    width: 100%;
    float: center;
    padding: 20px;
    border: 6px solid rgba(31, 3, 190, 0.322);
}  
.float-childDup {
    width: 100%;
    float: center;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
}  